{% extends "tbl.html" %}
{% block conteudo %}
<div id="frase_pedido">
    <h1>Selecione seu pedido: </h1>
</div>
        <!-- <div id="imgcerveja">
            <img src="../static/img/cerveja.png" alt=""> -->
    <form action="/salvar_pedido">
        
        <div class="opcoes">
            Cerveja:
            <input type="text">
            Quantidade:
            <input type="text">
        </div>


        <div class="button">
            <input type="submit" value="Realizar pedido">
        </div>
    </form>
{% endblock %}