<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/novo_aluno.css">

    </head>
    <body>
        <div class="titulo">
            <h1 class="titulo">Novo Aluno</h1>
        <div class="logo_novo">
            <img src="../static/img/maxresdefault.jpg" alt="">
        </div>
        <div class="conteudo">
            
            <form action="/salvar" method="POST">
                <div class="labels">
                    <label for="">Nome : </label>
                    
                </div>
                <input type="text" name="nome" class="text-box"> <br/>
                
                <div class="labels">
                    <label for="">Sobrenome: </label>
                    
                </div>
                <input type="text" name="sobrenome" class="text-box"> <br/>
                
                <div class="labels">
                    <label for="">Telefone: </label>
                    
                </div>           
                <input type="text" name="telefone" class="text-box"> <br/>
                
                <hr />
                <div>                
                    <input class="btn" type="submit" value="Salvar">
                    <button class="btn voltar" href="/">Voltar</button>
                </div>
            </form>
        </div>
        </body>
        </html>