<!-- ESTE ARQUIVO HTML DEVE ESTAR DENTRO DE UMA PASTA "templates", no mesmo nível do arquivo Python -->


<html>
    <head>
        <link rel="stylesheet" href="../static/indexweb2.css"> <!-- Essa função linka o CSS à esse HTML -->
        <title>{{nome}}</title> <!-- A função title define o nome que irá ficar na aba de navegador -->
<!-- As chaves duplas servem para imprimir na tela -->
        <body>
            <div class="cabecalho">
                <h1>{{cabecalho}}</h1> <!-- A função H1 serve para destacar a letra da página (título, por exemplo.) -->
            </div>
        </body>
    </head>
</html>